<style>
  
    .contact_icon {
        /* color:rgb(155, 223, 77); */
        font-size:500%;
    }

    .zoom:hover{
        transform: scale(1.2);
    }
    </style>

<section class="container centered">
    <div class="about">    
        {{ with .Site.Params.social | append .Site.Params.contact }}
            <ul>
            {{ range sort . "weight" }}
                {{ if .icon }}
                <li>
                    <a itemprop="sameAs" href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }} {{ if .title }}title="{{ .title }}"{{ end }}>
                    <i class="{{ .icon }} contact_icon zoom" aria-hidden="true"></i>
                    </a>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .title }}title="{{ .title }}"{{ end }}>{{ .name }}</a>
                </li>
                {{ end }}
            {{ end }}
            </ul>
        {{ end }}
    </div>
  </section>