<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  
  .course {
    line-height: 200%;
    margin-bottom: 0.0001%;
  }
  .institution {
    color:rgb(110, 110, 110);
    font-size:90%;
    margin-top: 0.0001%;
  }
  </style>

<ul class="ul-edu fa-ul">
          
    <li>
      <i class="fa-li fa fa-graduation-cap" style="margin-top: 1%;"></i>
      <div class="description">
        <p class="course">Ph.D. in Computer Engineering, May 2018 - Present</p>
        <p class="institution">Texas A&M University, College Station, Texas </p>
      </div>
    </li>
    <li>
      <i class="fa-li fa fa-graduation-cap" style="margin-top: 1%;"></i>
      <div class="description">
        <p class="course">Bachelor of Technology in Electronics and Communication Engineering, May 2013 – May 2017</p>
        <p class="institution">Indian Institute of Technology, Guwahati, India</p>
      </div>
    </li>
  </ul>

<!-- 
<style>
    .ul-edu {
        list-style: none;
    }
    .fa-ul {
        list-style-type: none;
        margin-left: 2.5em;
        padding-left: 0;
    }
    .fa-li {
        left: -2em;
        position: absolute;
        text-align: center;
        width: 2em;
        line-height: inherit;
    }
    .fa, .fab, .fal, .far, .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul class="ul-edu fa-ul">
          
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">PhD in Neuroimaging, May 2017 - Sep 2021</p>
        <p class="institution">German Primate Center</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">MSc in Neuroscience, Sep 2015 - Apr 2017</p>
        <p class="institution">University of Göttingen</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">Medical Degree, Sep 2009 - Jul 2015</p>
        <p class="institution">Aristotle University of Thessaloniki</p>
      </div>
    </li>
    
  </ul> -->