<div>
  <h1> this is a shortcode </h1>
</div>


<div class="details" onmouseenter="document.getElementById('D-NeRF').src='images/rahul.jpg';" onmouseleave="document.getElementById('D-NeRF').src='images/rahul.jpg';">
  <a href="../research/D-NeRF/index.html"><img src="images/rahul.jpg" height="1000" width="1000" alt="D-NeRF: Neural Radiance Fields for Dynamic Scenes" id="D-NeRF" class="thumb"></a>
  <ul class="pub">
    <li class="pubtitle">D-NeRF: Neural Radiance Fields for Dynamic Scenes</li>
      <li class="pubauthor">A. Pumarola, E. Corona, G. Pons-Moll, F. Moreno-Noguer</li> 
    <li class="pubbooktitle">Conference in Computer Vision and Pattern Recognition (CVPR), 2021.</li> 
    <li>
     <div class="list_buttons">
        <a class="bibtexLink" href="../research/D-NeRF/index.html">Project Page</a>
        <a class="bibtexLink" href="https://arxiv.org/abs/2011.13961" target="_blank">PDF</a>
         <a class="bibtexLink" href="https://www.dropbox.com/s/0bf6fl0ye2vz3vr/data.zip?dl=0">Dataset</a>
         <a class="bibtexLink" href="https://github.com/albertpumarola/D-NeRF"><i class="fa fa-github"></i> Code</a>
        <a class="bibtexLink" onclick="return toggle('/publications/PumarolaDnerf2020/bib',this)">Bibtex</a>
      </div>
    </li>  
  </ul>
</div>


<div>
  <h1> this shortcode is done </h1>
</div>
  